<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Tareas</title>
    <link rel="stylesheet" href="/static/styles_tareas.css">
</head>
<body>
    <h1>TAREAS:</h1>
    <div id="task-list" ></div>

    <h2 class="barra_lateral_cuenta"><a href="https://proyecto-fastapi-c3q1.onrender.com//users/me/page">Cuenta<span id="UsernameTitle"></span></a></h2>

    <p class="barra_lateral_tarea"><a href="https://proyecto-fastapi-c3q1.onrender.com//tarea/page">Buscar Tarea</a></p>

    <p class="barra_lateral_crear_tarea"><a href="https://proyecto-fastapi-c3q1.onrender.com//crear_tarea/page">Crear Tarea</a></p>

    <p class="barra_lateral_actualizar_tarea"><a href="https://proyecto-fastapi-c3q1.onrender.com//actualizar_tarea/page">Actualizar Tarea</a></p>
            
    <p class="barra_lateral_eliminar_tarea"><a href="https://proyecto-fastapi-c3q1.onrender.com//eliminar_tarea/page">Eliminar Tarea</a></p>

    <script>
        // Obtener el token almacenado en localStorage (el usuario debe haber hecho login previamente)
        const token = localStorage.getItem("token");

        // Si no hay token, redirigir al login
        if (!token) {
            alert("No estás autenticado. Redirigiendo al login.");
            window.location.href = "/login";
        } else {
            // Hacer la solicitud GET a /tareas
            fetch("/tareas", {
                method: "GET",
                headers: {
                    "Authorization": "Bearer " + token  // Enviar el token JWT en el encabezado
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al obtener las tareas.");
                }
                return response.json();
            })
            .then(tasks => {
                const taskList = document.getElementById("task-list");
                
                if (tasks.length === 0) {
                    taskList.innerHTML = "<p>No tienes tareas pendientes.</p>";
                } else {
                    // Crear una lista de tareas
                    let list = "<ul>";
                    tasks.forEach(task => {
                        list += `<li>
                            ID: ${task.id}<br/>
                            Tarea: ${task.task}<br/>
                            Descripcion: ${task.description}<br/>
                            Fecha de expiracion: ${task.date_expire}<br/>
                            Estado: ${task.state}</li>`;
                    });
                    list += "</ul>";
                    taskList.innerHTML = list;
                }
            })
            .catch(error => {
                alert("Error al cargar las tareas: " + error);
            });
        }
    </script>
</body>
</html>
