body {
    text-align: center;
    background-color: azure;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.datos_usuario {
    text-align: center;
    font-style: inherit;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr; /* 250px para la barra lateral, 1fr para el contenido */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Estilos de la barra lateral */
.barra-lateral {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.cerrar_sesion {
    position: absolute;      /* Se mantiene visible al hacer scroll */
    bottom: 10px;         /* Separación del borde inferior */
    left: 10px;
    background-color: #007bff;  /* Color de fondo */
    color: white;               /* Color del texto */
    padding: 10px 20px;         /* Relleno alrededor del texto */
    border: none;               /* Sin bordes */
    border-radius: 4px;         /* Bordes redondeados */
    cursor: pointer;            /* Cursor en forma de mano */
    font-size: 16px;
    background-color: #0056b3;  /* Color de fondo al pasar el ratón */
}

.barra_lateral_cuenta {
    position: absolute;  /* En relación al contenedor */
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: black;
    font-family: Arial, sans-serif;
}

.barra_lateral_tareas {
    font-size: 18px;
    color: black;
    font-family: Arial, sans-serif;
    padding-left: 10px;  /* Espacio desde la izquierda */
    text-align: left;
}

.barra_lateral_tarea {
    font-size: 18px;
    color: black;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;  /* Espacio entre las tareas */
    padding-left: 10px; 
    text-align: left;     /* Alinea el texto a la izquierda */
}

.barra_lateral_crear_tarea {
    font-size: 18px;
    color: black;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;  /* Espacio entre las tareas */
    padding-left: 10px; 
    text-align: left;     /* Alinea el texto a la izquierda */
}

.barra_lateral_actualizar_tarea {
    font-size: 18px;
    color: black;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;  /* Espacio entre las tareas */
    padding-left: 10px; 
    text-align: left;     /* Alinea el texto a la izquierda */
}

.barra_lateral_eliminar_tarea {
    font-size: 18px;
    color: black;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;  /* Espacio entre las tareas */
    padding-left: 10px; 
    text-align: left;     /* Alinea el texto a la izquierda */
}