body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #0a0a0a;
    margin: 0;
    padding: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #0a0a0a;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

label {
    font-size: 14px;       /* Tamaño de fuente */
    color: #333;           /* Color de texto */
    margin-bottom: 5px;    /* Espacio debajo del label */
    display: block;        /* Mostrar el label como bloque para alinearlo correctamente */
}